#form {
  vertical-align: bottom;
}

#feedback {
  display: block;
  height: 2em;
  vertical-align: middle;
  line-height:    140%;
  font-size:      140%;
  font-weight:    bold;
}

.correct {
  color: green;
}

.fail {
  color: red;
}
